.HomeContainerFirstLayer {
  height: 50vw;
  max-height: 1500px;
  width: 100%;
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeContainerFirstLayer .container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.HomeContainerFirstLayer .containerElement {
  margin: 0 0.5vw;
  position: relative;
  width: 65%;
}

.HomeContainerFirstLayer .containerElement:first-child {
  width: 30%;
  height: 25vw;
}

.HomeContainerFirstLayer .containerElement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5rem #000000c4;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 2s ease-in-out;
}

.HomeContainerFirstLayer .containerElement img.hovered {
  opacity: 1;
}

.HomeContainerFirstLayer .containerElement img:hover {
  box-shadow: 0 0 2rem #6d6d6d8e;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.HomeContainerFirstLayer .containerElement img.active {
  animation: rotate 2s;
  animation-iteration-count: 1;
}

.HomeContainerFirstLayer .containerElement img.activeInversion {
  animation: rotate 2s ease-in-out reverse;
}

.HomeContainerFirstLayer .containerElement p {
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
  margin: 1.5vw;
}