.PageHome .containerSecondLayer .skew{
  height: 75vw;
  max-height: 1500px;
  background: rgba(110, 110, 110, 0.25);
  transform: skewY(-2.5deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageHome .containerSecondLayer .containerAbsolute {
  height: 35vw;
  width: 100%;
  transform: skewY(2.5deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.PageHome .containerSecondLayer .containerAbsolute .title {
  margin: 5vw;
}

.PageHome .containerSecondLayer .containerAbsolute .title h1{
  font-size: 3rem;
}

.PageHome .containerSecondLayer .containerAbsolute .containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.PageHome .containerSecondLayer .containerAbsolute .card {
  height: 25vw;
  width: 20vw;
  margin: 5vw;
  transform: skewY(5deg);
}

.PageHome .containerSecondLayer .containerAbsolute .card .content-card {
  background: #25253b98;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.5s ease-in-out, transform 0.25s ease-in-out;
  box-shadow: 0 0 3rem #1e1e1ec4;
  cursor: pointer;
  border-radius: 0.5rem;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card:hover {
  transform: skewY(7deg);
  box-shadow: 0 0 2rem #777777c4;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card .containerElementInCard {
  top: 0;
  transform: skewY(-5deg);
  width: 80%;
  height: 90%;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  will-change: transform;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card:hover .containerElementInCard {
  transform: skewY(-7deg);
}

.PageHome .containerSecondLayer .containerAbsolute .content-card .containerElementInCard img {
  margin-bottom: 2vw;
  width: 3.5vw;
  height: 3.5vw;
  transition: all 0.3s ease-in-out;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card .containerElementInCard h1 {
  margin: 0.5vw;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card .containerElementInCard p {
  margin-top: 0.25vw;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card .containerElementInCard img {
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.PageHome .containerSecondLayer .containerAbsolute .content-card:hover .containerElementInCard h1 {
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.PageHome .containerSecondLayer .containerAbsolute .content-card:hover .containerElementInCard p {
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.PageHome .containerSecondLayer .containerAbsolute .card {
  width: 400px;
  height: 600px;
  perspective: 700px;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}

.PageHome .containerSecondLayer .containerAbsolute .content-card:hover{
  transition: transition 0s linear, box-shadow 0.5s ease-in-out;
}

.PageHome .containerSecondLayer .containerAbsolute .bg-animate {
  position: absolute;
  width: 550px;
  height: 550px;
  background: #474cb3;
  filter: blur(180px);
  border-radius: 300px;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  mix-blend-mode: soft-light;
  will-change: contents;
}

.PageHome .containerSecondLayer .containerAbsolute .card:hover .bg-animate {
  opacity: 0.85;
}

.PageHome .containerSecondLayer .containerAbsolute button {
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5vw;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.PageHome .containerSecondLayer .containerAbsolute .button .belowButton {
  width: 0;
  height: 0.2rem;
  background:#eaffea;
  transition: all 0.2s;
  transform-origin: center;
  opacity: 0;
}

.PageHome .containerSecondLayer .containerAbsolute .button:hover .belowButton {
  width: 100%;
  opacity: 1;
}